apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: openbank-backend-hpa
  namespace: openbank
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: openbank-backend
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: openbank-frontend-hpa
  namespace: openbank
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: openbank-frontend
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50