
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: openbank-backend-hpa
  namespace: openbank
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: openbank-backend
  minReplicas: 2
  maxReplicas: 6
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
